
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #ff5722;
  margin-top: 20px;
}

h2 {
  margin-top: 20px;
  color: #ff5722;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #ff5722;
}

input,
select,
button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 20px;
  background-color: #ff5722;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #ff7f27;
}

.error {
  color: red;
  text-align: center;
  font-weight: bold;
}

